body {
    margin: auto 0;
}

/* Header */
header {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

/* Game area */
.game-area {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.game-area button {
    display: inline-block;
    width: 80px;
    height: 60px;
    margin: 5px;
}

.game-area i {
    margin-top: 10px;
    font-size: 120%;
}

/* Competitors */
.player {
    float: left;
    background-color: lightblue;
    margin-bottom: 10%;
    width: 45%;
}

#player-image {
    width: 100%;
}

#computer-image {
    width: 100%;
}

.computer {
    float: right;
    background-color: lightcoral;
    margin-bottom: 10%;
    width: 45%;
}

/* Footer */
footer {
    clear: both;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}